body {
  margin: 0;
  padding: 20px;
  background-color: #7fa896;
}

#app {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 25px;
}

.note {
  height: 200px;
  box-sizing: border-box;
  background-color: #f1f1b1;
  padding: 10px;
  border: none;
  border-radius: 10px;
  resize: none;
  font-family: sans-serif;
  font-size: 16px;
}

#add_button {
  height: 200px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#add_button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
